body{
    font-family: 'Arial', sans-serif;
    background-image: url(pics/ld.jfif);
    background-size: cover;
    text-align: center;
    margin: 0;
}
header{
color:white;
font-size: 80px;
text-shadow: 3px 3px  rgb(3, 1, 1);
margin-top: 100px;
}
h1{
    font-size: 100px;
    margin: 50px;
    text-shadow: 3px 3px  rgb(3, 1, 1);
    margin-top: 150px;
}
.content{
    margin: 30px;
    text-shadow: 3px 3px   rgb(3, 1, 1);
}
p{
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px   rgb(3, 1, 1);

}