body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(pics/TG.jpg);
    background-size: cover;
    
}
.container{
        margin-top: 400px;
}
h1{
    font-size: 100px;
    color: gold;
    text-shadow: 3px 3px 10 px rgb(255, 215, 0, 0 ,8);
}
h2{
    margin-top: 20px;
    font-size: 100px;
    color: red;
}
.info{
    margin-top: 20px;
    font-size: 50px;
    color: white;
}
#countdown{
    font-size: 2em;
    font-weight: bold;
    color: cyan;
    margin-top: 20px;
}